.body {

}

.container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
}

.viewport {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.grid-wrapper {
	margin-top: 300px;
	margin-bottom: 300px;
}

.grid {
	transform-style: preserve-3d;
	position: relative;
	margin: 0 auto;
}

.grid-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 90vw;
	height: 90vh;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
	-webkit-perspective: 500;
	-moz-perspective: 500;
	-o-perspective: 500;
	-ms-perspective: 500;
	perspective: 500;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;

	display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item.selected {
	overflow: auto;
}

.grid-item:hover {
	z-index: 9999;	
}

.grid-item--scroll {
	display: block;
}

.grid-item img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}